.my_modal {
    margin-top:10.5em;
}
.content-card{
    display:grid;
    grid-template-columns:repeat(4, 1fr);
    grid-gap: 3.5em;
    margin: 0px 35px 5px 35px;
}
.form-style {
    margin-top: 5.5em;
}
.cartas {
  margin-top: 2.8em;
}
.deco {
  margin:2em;
}