/* Titre */
h2 {
  font-family: 'Pattaya', sans-serif;
  text-align:center;
  color:#00b894
}

h4 {
  color: #b7cec9;
}

.row {
  padding-top:2em;
}
.my_modal {
  margin-top:10.5em;
}
.list_contact {
  bottom:0px!important;
}
.contact_display {
  display: grid;
  grid-template-rows: 1fr 1fr;
  margin-left: 15em;
  width: 1000px;
  grid-row-gap: 8em;
}
.search_section {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#toast-container >.toast {
  position: relative;
  margin-right: 30em;
  padding-left: 50px;
  margin-top:7.5em;
  width: 310px;
  font-size: 20px;
}

table{
  margin-bottom: .5em;
}

.content-card{
  display:grid;
  grid-template-columns:repeat(4, 1fr);
  grid-gap: 3.5em;
  margin: 0px 35px 5px 35px;
}
.modal-content div img {
  width:100%
}
.collaps {
  margin-top: 5em;
}

@media screen and (max-width:1110px){
  .modal-content div img {
    height:100%
  }
  .content-card{
    display:grid;
      grid-template-columns:repeat(3, 1fr);
      grid-gap: 3.5em;
      margin: 0px 35px 5px 35px;
  }

} 

@media screen and (max-width:850px){
  .content-card{
      display:grid;
      grid-template-columns:repeat(2, 1fr);
      grid-gap: 3.5em;
      margin: 0px 35px 5px 35px;
  }
  .description_serie {
    width: 100%;
  }
}

@media screen and (max-width:600px){
    .content-card{
      display:grid;
      grid-template-columns: 1fr;
      grid-gap: 3.5em;
      margin: 0px 35px 5px 35px;
  }
  .description_serie {
    width: 100%;
  }
}
.form-style {
    margin-top: 5.5em;
}


/* listing series */
.style_card {
  margin-top: 2.8em;
}
.card-content {
  text-align: center;
}
.card.small {
  height: 245px;
}

.space{
  padding-bottom:2.5em;
}
.description_serie{
  width: 820px;
  text-align: justify;
}

/** listing episodes **/

.listing_episodes {
  border:3px black solid;
  padding: 2em;
}
/*sidebar*/
.btn.style_btn.show-on-large{
  margin: 12px 0px 0px 10px;
}
.style_btn i {
  font-size: 3.3em;
}
.sidebar-top {
  margin-top: 3em;
}
.deco {
  margin-left:1em;
}

/*Footer*/

.footer.page-footer.example{
  background-color: #0d47a1!important;
}

